// bower:scss
@import '../bower_components/Skeleton-Sass/scss/skeleton.scss';
// endbower

html {
  height: 100%;
}

body {
  height: 100%;
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 10px;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0,0,0,0);
  color: #FFF;

  z-index: 10;
  a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
  }
}

.no-wrap {
  white-space: nowrap;
}

#links {
  display: none;
}

section:not(#start) {
  text-align: justify;
  padding: 5vh 5vh;
}
  
#main-logo {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  z-index: 3;
  padding: 20% 0 25% 0%;
  opacity: 0.8;
}

#start {
  position: relative;
  height: 80vh;
  color: #FFF;
  background-color: black;
  text-align: center;
  overflow: hidden;
  
  padding-top: 0;

  h1 {
    margin: 0 auto;
    color: #FFF;
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 200;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #mobile-image {
    background: url(../images/start-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;

    opacity: 0.48;
  }

  #ytplayer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.48;
    z-index: 0;
    transform: scale(1.2);
  }

  #video-shield {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

}

blockquote {
    font-weight: 200;
    font-size: 2rem;
  }

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  #main-logo {
    padding: 15% 0;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  #main-logo {
    width: 100%;
    padding: 50% 0 70% 0;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  header {
    background-color: rgba(0,0,0,0.8);
  }

  #start {
    height: 90vh;
    
      #ytplayer {
        display: block;
      }
  }

  #main-logo {
    width: 100%;
    padding: 35% 0;
  }

  #links {
    display: block;
  }


  #mobile-image {
    display: none;
  }

}

/* Larger than desktop */
@media (min-width: 1000px) {
  #start {
    h1 {
      font-size: 5rem;
    }
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
