// bower:scss
// endbower

html {
  height: 100%;
}

body {
  height: 100%;
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;
}

#start {
  height: 85vh;
  color: #FFF;
  background-color: black;
  text-align: center;
  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 100;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

#tubular-container {
  display: none;
}
