// bower:scss
@import '../bower_components/Skeleton-Sass/scss/skeleton.scss';
// endbower

//Colors
$red: #662717;
$darkGray: #555;

html {
  height: 100%;
}

body {
  height: 100%;
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;  
}

img {
  width: 100%;
  vertical-align: center;
  position: relative;
  top: 50%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 10px;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0,0,0,0);
  color: #FFF;

  z-index: 10;
  a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;

  }
}

.no-wrap {
  white-space: nowrap;

  .column, .columns {
    float: none;
    margin: 20px;
  }
}

#links {
  display: none;
}

section:not(#start) {
  position: relative;
  text-align: center;
  padding: 8vh 0;

  p {
    font-size: 2.5rem;
    font-weight: 200;
  }

  i {
    font-style: italic; 
  }
}
  
#main-logo {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  z-index: 3;
  padding: 20% 0 25% 0%;
  opacity: 0.85;
}

#start {
  position: relative;
  height: auto;
  color: #FFF;
  background-color: black;
  text-align: center;
  overflow: hidden;
  
  padding-top: 0;

  h1 {
    margin: 0 auto;
    color: #FFF;
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 100;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #mobile-image {
    background: url("../images/start-image.jpg") ;
    background-size: cover;
    background-position: center;

    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;

    opacity: 0.48;
  }

  #ytplayer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.48;
    z-index: 0;
    transform: scale(1.2);

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }

  #video-shield {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

}

#mission {
  background-color: darken( $red, 5% );
  color: #FFF;

  a {
    color: white;
  }
}

#join {
  a {
    color: #555;
    text-decoration: none;
    :hover {
      color: #000;
    }
  }
} 

#events {
  color: white;
  background-color: black;

  .bg-image {
    background: url("../images/bowlingbg.jpg") ;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
  }

}

#event-list {
  width: auto;
  margin: 0 auto;

  * {
      padding-left: 0;
      padding-right: 0;
  }

  th {
    text-align: center;
    font-size: 2rem;
    font-style: bold;
  }

  td {
    text-align: center;
  }
}

blockquote {
    font-weight: 200;
    //font-style: bold;
    font-size: 1.6em;

    a {
      font-size: 2rem; 
    }
}

#footer {
  background-color: black;
  
  img {
    -webkit-filter: brightness(1); 
    filter: brightness(1);

    max-width: 30px;
  }
}

.checkSize {float: left;}

.bg-image {
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom:0;

  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.full-height {
  height: 100%;
}

.hide-small {
  display: none;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  #main-logo {
    padding: 15% 0;
  }

  #event-list {
    width: 100%;
    margin: 0 auto;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  #main-logo {
    width: 100%;
    padding: 50% 0 70% 0;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  header {
    background-color: rgba(0,0,0,0.9);
    box-shadow: rgba(10,10,10, 0.3) 0 3px 10px 0;
  }

  section:not(#start) {
    p {
      text-align: center;
      font-size: 2rem;
      font-weight: 200;
    }
  }

  blockquote {
    font-size: 2em;
    font-weight: 200;
  }

  #start {
    height: 100vh;
    
      #ytplayer {
        opacity: 0.48;
      }
  }

  .checkSize {float: none;}

  #main-logo {
    width: 100%;
    padding: 35% 0;
  }

  #links {
    display: block;
  }


  #mobile-image {
    display: none;
  }

  .hide-small {
    display: block;
  }

}

/* Larger than desktop */
@media (min-width: 1000px) {
  #start {
    h1 {
      font-size: 5rem;
    }
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
