br
p A Note From the President
i Hello,
	| My name is Kendra Molyet and I am the president of the Kent State Business Leadership Club. As a new organization on campus our main goal is to create business professional leaders through community. As an organization we accept all majors to join our organization, to volunteer, listen to guest speakers, and interact through group discussions. It is our hope, to build a solid foundation of leaders to excel in the work place and to carry out the true meaning of a Kent State University student.
br
br 