doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title KBLC
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/normalize.css')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='styles/skeleton.css')
    // endbuild
  body
    div.checkSize
    header
      div.container
        div.row#hamburger
          div.toppings
        div.row#links
          a(href="#mission").two.columns.offset-by-two About
          a(href="#join").two.columns Join
          a(href="#events").two.columns Events
          a(href="#alumni").two.columns Alumni
    section#start
      div#mobile-image
      div#ytplayer
      div#video-shield
      div.container
        div.row
          div.four.columns.offset-by-four
            img(src="images/Logo.png")#main-logo
        div.row
          h1 
            | Today's Students. 
            span.no-wrap Tomorrow's Leaders.
      
    section#mission
      div.container
        div.row
          blockquote.twelve.columns "Our mission is to prepare for leadership roles in the business environment through improved communication, and encourage a leadership-focused culture at Kent State." 
          br
          //a(href='about.html') Read More

    section#join
      div.container
        div.row
          div.six.columns
            h1 Become a member
            p Our associate meetings are 
            p #[b Every Other Tuesday #[span.no-wrap at 8:30 pm.]] 
            p
              a(href="https://goo.gl/maps/NdXK1u6tL3E2") #[i Room A311, Business Administration Building]
            p 
              a(href="http://goo.gl/forms/vwjANIiNQB") Sign up here
          div.six.columns
            img(src="images/group.jpg")


    section#events
      div.bg-image
      div.container
        div.row
          div.six.columns.offset-by-six
            h1 Get involved
            p The club attends various events to raise awarness and money for different charitable causes. We contribute our time to working with the community on various service projects as well as hosting several fundraising opportunities throughout the year including our own Bowling with Business event.
    section#upcoming
      div.container
        h1 Upcoming
        div.row
          div.eight.columns.offset-by-two
            table#event-list
    section#alumni
      div.container
        h1 Alumni
        p The Kent Business Leadership Club is a community that extends beyond just your time in university. As our organization ages, our alumni group speads out and becomes more expansive. We wanted to create a forum for associates to connect with experienced individuals for help in the real world. Join us today and get connected with a large community of professionals.
    
    section#footer
      div.container
        div.row.keep-together
          a(href="http://twitter.com/KSUBLC").one.column.offset-by-four
            img(src="images/icons/twitter.png")
          a(href="http://www.facebook.com/pages/Kent-State-Business-Leadership-Club/880152058715358?ref=hl").one.column
            img(src="images/icons/facebook.png")
          a(href="http://www.linkedin.com/groups?mostRecent=&gid=8240390&trk=my_groups-tile-flipgrp").one.column
            img(src="images/icons/linkedin.png")
          a(href="mailto:kblcstaff@gmail.com").one.column
            img(src="images/icons/mail.png")

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='scripts/sheetrock.min.js')
    // endbower
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
